<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="index.htm" />
                <add value="default.htm" />
                <add value="default.html" />
                <add value="index.php" />
                <add value="default.aspx" />
                <add value="index.aspx" />
                <add value="default.php" />
                <add value="default.asp" />
                <add value="index.asp" />
                <add value="_ParkingPage.asp" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto" />
    </system.webServer>
</configuration>
